.card {
  width: 290px;
  box-shadow: 1px 1px 15px 0px #777777;
  border-radius: 38px;
  background-color: white;
}

.card-name {
  padding: 0;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0;
}

.card-info {
  text-align: center;
}
